.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-container {
  height: 400px;
}

.Navbar-Body-layout {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 100vh;
}

.Navbar-left-container {
  background-color: #b9e6a2;
  padding: 12px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  /* border-radius: 4px; */
}

.Body-right-container {
  padding: 12px;
  overflow-y: auto;
}
