.adp-grid-container {
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-gap: 10px;
  align-items: start;
  border: 1px solid red;
  height: calc(100vh - 86px);
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.subtitle-font {
  margin-bottom: 40px;
  text-align: center;
}

.add-trip-text {
  align-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 20px 30px 30px;
}

.custom-card {
  flex-wrap: wrap;
  height: 15rem;
  width: 17rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
}

.add-trip-card-container {
  display: flex;
  flex-wrap: wrap;

  height: 15rem;
  width: 17rem;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.custom-card:hover {
  background-color: #b9e6a2;
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

.custom-card-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 0px solid white;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.save-button {
  background-color: #72e195;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button {
  background-color: #d59ef3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
  padding: 70px 0 70px 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  border-radius: 10px;
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.vertical-text:hover,
.vertical-text:active {
  /* background-color: #b9e6a2; */
  color: white;
  border-radius: 4px;
}

.vertical-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px dashed violet;
  height: 100%;
}

.active-display {
  border: 2px solid #ff8800;
}

.vertical-buttons-container button:disabled {
  background-color: white;
  color: rgb(135, 135, 135);
  cursor: not-allowed;
  border: none;
}

.vertical-buttons-container button:disabled .vertical-text {
  color: rgb(149, 149, 149);
  background-color: white;
  border: none;
}

.vertical-buttons-container button {
  background-color: transparent;
  color: #000;
  border: 1px dashed #b52d2d;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.vertical-buttons-container button:hover {
  background-color: #b9e6a2;
  border: 1px solid #4caf50;
  color: #fff;
}

.vertical-buttons-container button:active {
  background-color: #4caf50;
}

.vertical-buttons-container button.active-display {
  border: 2px solid #ff8800;
  color: #ff8800;
}

.create-trips-container {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

.create-trips-title {
  margin-bottom: 20px;
}

.create-trips-labels {
  margin-left: 20px;
}

.input {
  width: 400px;
  margin: 10px 0 20px 20px;
}

.create-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.cancel-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.map-container {
  height: 400px;
  margin-bottom: 30px;
}
