/* Trips Cards Page */
.adp-grid-container {
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-gap: 10px;
  align-items: start;
  border: 1px solid rgb(217, 217, 217);
  width: 99.9%;
  height: auto;
  max-height: calc(100vh - 9.18vh);
  padding-left: 0.1%;
  margin: 0;
  border-radius: 30px;
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.subtitle-font {
  margin-bottom: 40px;
  text-align: center;
}

.add-trip-text {
  align-content: center;
}

.trips-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-items: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start; */
  padding: 10px;
  margin: 30px 20px 30px 30px;
  gap: 10px;
  height: auto;
  max-height: calc(100vh - 12vh);
  /* width: auto; */
  background: #fff;
  border: none;
}

.trips-card {
  margin: 2px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
}

.trips-card:hover {
  background-color: #b9e6a2;
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

div > img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* padding: 3px;
  margin: 10px; */
  /* border: 3px dashed green; */
}

.trips-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 15px;
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5vh;
  font-weight: 300;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  width: 200px;
}

.trips-cards-input {
  text-align: center;
}

ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.save-button {
  background-color: #72e195;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 10px 10px 0;
}

.edit-button {
  background-color: #d59ef3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 10px 10px 0;
}

.delete-button {
  background-color: #d59ef3;
  color: #fff;
  padding: 5px 10px;
  margin: 5px 10px 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-trip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 17rem;
  border: 1px solid #ccc;
  margin: 30px 20px 30px 30px;
  gap: 10px;
  height: auto;
  max-height: calc(100vh - 12vh);
}

/* NavBar */
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
  padding: 35px 0 35px 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  border-radius: 10px;
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.vertical-text:hover,
.vertical-text:active {
  color: white;
  border-radius: 4px;
}

.vertical-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 45px;
  border: 1px solid #aaaaaa;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 9.18vh);
  margin: 0;
  border-radius: 26px;
}

.active-display {
  border: 2px solid #ff8800;
}

.vertical-buttons-container button.active-page {
  border: 1px solid #aaaaaa;
}

.vertical-buttons-container button:disabled .vertical-text {
  background-color: white;
  color: rgb(191, 188, 188);
  cursor: not-allowed;
  border: none;
}

.vertical-buttons-container button:disabled:hover {
  background-color: white;
  color: rgb(191, 188, 188);
  cursor: not-allowed;
  border: none;
}

.vertical-buttons-container button {
  background-color: transparent;
  color: #aaaaaa;
  border: none;
  border-radius: 26px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.vertical-buttons-container button:hover {
  background-color: #b9e6a2;
  border: 1px solid #4caf50;
  color: #fff;
}

.vertical-buttons-container button:active {
  background-color: #4caf50;
}

.vertical-buttons-container button.active-display {
  border: 2px solid #ff8800;
  color: #ff8800;
}

/* Create A Trip Page */
.create-trips-container {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

.create-trips-title {
  margin-bottom: 20px;
}

.create-trips-labels {
  margin-left: 20px;
}

.input {
  width: 400px;
  margin: 10px 0 20px 20px;
}

.create-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.cancel-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.map-container {
  height: 400px;
  margin-bottom: 30px;
}
