* {
  margin: 0;
  padding: 0;
}

.mainBG {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 56px);
  object-fit: cover;
  margin-left: -69px;
  margin-right: -68px;
}

.videoBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 40vh;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #444;
}

.landing-page-button {
  background-color: #b9e6a2;
  border: 0;
  padding: 8px 0px 8px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.landing-page-button:hover {
  background-color: #b9e6a2;
  font-weight: 400;
  color: rgb(78, 78, 78);
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.title {
  font-size: 6lvh;
  padding: 0;
  margin: 0;
}

div p {
  padding: 0 0 20px;
}

.container {
  margin-top: 20px;
}

.developer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.developer-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 220px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.developer-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  max-height: 220px;
  margin-bottom: 10px;
}

.developer-card h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.developer-card a {
  text-decoration: none;
  color: #007bff;
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.developer-card a:hover {
  text-decoration: underline;
}
