* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.custom-card-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 0px solid white;
}

.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  /* align-items: center; Vertical centering */
  min-height: 100vh; /*container takes up the full viewport height */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 30px;
  height: 100%;
  padding: 10px;
  width: 30%;
  border-radius: 0px;
  border: 1px solid #ccc;
}

.form {
  max-width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  /* border: 1px solid rgb(93, 93, 93); */
}

h1 {
  padding: 10px;
  /* font-size: 20px; */
  font-weight: bold;
  text-align: center;
  border: 0px solid white;
}

p {
  text-align: center;
  margin-top: 30px;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:visited {
  color: rgb(51, 48, 48);
}

.accounts-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
